.jobs__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  gap: 3rem;
}
.jobs__heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #00487c;
}
.jobs__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
