html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.registration__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  gap: 3rem;
}
.registration__heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;

  color: #00487c;
}
.registration__form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 3rem;
}
.registration__form__section {
  display: flex;
  flex-direction: column;
}
.registration__form__section__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: #c9e9ff;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0px 0px;
  color: #00487c;
  padding: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration__form__section__fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid #4bb3fd;
  border-radius: 0px 20px 20px 20px;
}

.registration__form__section__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.registration__form__section__field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #00487c;
}
.registration__form__section__field__input input {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 250px;
  font-family: "Mulish", sans-serif;
}
.registration__form__section__field__input textarea {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 250px;
  resize: none;
  font-family: "Mulish", sans-serif;
}
.registration__form__section__field__input select {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 300px;
  font-family: "Mulish", sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("https://www.vhv.rs/dpng/d/598-5983241_transparent-downward-arrow-png-select-arrow-png-free.png");
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 52%, 0 0;
  background-size: 0.65em auto, 100%;
}

.registration__form__section__field__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.registration__form__section__field__note {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #00487c;
}
.registration__form__register__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 180px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.registration__form__register__button:hover {
  background: linear-gradient(180deg, #00487c 0%, #027bce 100%);
}
.registration__form__register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.registration__form__register {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.jobDescription__container_inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #4bb3fd;
  gap: 2rem;
  border-radius: 20px;
  width: 60vw;
}
.registration__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 80px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.registration__button:hover {
  background: linear-gradient(180deg, #00487c 0%, #027bce 100%);
}

.registration__button__verified {
  background: linear-gradient(180deg, #02ce4d 0%, #007c2d 100%);
  box-shadow: inset 0px 4px 4px #4bfd7a;
  border-radius: 10px;
  width: 80px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #ffffff;
}

.viewStudentProfile__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 90px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.registration__form__section__fields_academic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0rem;
  padding: 1.5rem;
  border: 1px solid #4bb3fd;
  border-radius: 0px 20px 20px 20px;
}
.registration__form__section__fields_academic_rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.75rem;
}

.registration__form__section__field__left_academics {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.registration__form__section__field__input_academics input {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 300px;
  font-family: "Mulish", sans-serif;
}

.statistics_section {
  min-height: 100vh;
  margin: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 3rem 3.5rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 900px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 101%;
  height: 101%;
  background-image: linear-gradient(to right bottom, #4081f8, #7dd2f9);
  z-index: -1;
  border-radius: 15px;
  transform: rotate(-5deg);
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.2);
}
.card li {
  margin: 1.2rem;
  list-style-type: none;
}

.card li p {
  display: flex;
}

.card li h3 {
  display: inline-block;
  font-size: 1.5rem;
  color: #333;
  vertical-align: top;
  margin-right: 5px;
  line-height: 1.2;
}
.card li .fa {
  font-size: 0.75rem;
}
.card li span {
  color: #9ea6a8;
  font-weight: bold;
  font-size: 1rem;
}

.clr-up {
  color: green;
}

.clr-down {
  color: red;
}

@media screen and (max-width: 900px) {
  .container {
    height: unset;
  }
  .statistics_section {
    margin: 7rem 0;
  }

  .card li span {
    font-size: 0.8rem;
  }

  .card li h3 {
    font-size: 1.2rem;
  }

  .card {
    width: 80vw;
    padding: 1rem 1.5rem;
    height: fit-content;
  }

  .card::before {
    transform: rotate(0deg);
  }
  .card li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    width: 50%;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 100vw;
  }
}

@media (max-width: 1400px) {
  .jobDescription__container_inner {
    width: 50vw;
  }
}
@media (max-width: 1024px) {
  .jobDescription__container_inner {
    margin: 1.1rem;
  }
  .jobDescription__container_inner {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
  .registration__form {
    width: 100%;
  }
  .registration__form__section__field__input input {
    width: 70vw;
  }
  .registration__form__section__field__input select {
    width: 65vw;
  }
  .registration__form__section__field__input textarea {
    width: 65vw;
  }
  .registration__form__section__field__input_academics input {
    width: 65vw;
  }
  .MuiAutocomplete-root {
    width: 200px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Job Card Styles*/
.job_card {
  display: grid;
  grid-template-columns: 80px auto 100px;
  grid-template-rows: 35px 10px 35px;
  width: 700px;
  position: relative;
  border: 1px solid #00487c;
  padding: 24px;
}

.job_card:hover,
.job_card:focus {
  background-color: rgba(0, 166, 194, 0.03);
  border-color: #b2e4ec;
}

.job_card_company_logo_img {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  position: relative;
  padding: 5px;
}

.job_card_company_logo_img img {
  max-height: calc(100% - 10px);
  max-width: calc(100% - 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.job_card_job_title {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 16px;
  align-self: start;
  font-weight: 500;
  margin-top: 5px;
  padding: 0 24px;
}

.job_card_company_name {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
  padding: 0 24px;
}

.job_card_skills_container {
  grid-area: 3 / 2 / 4 / 3;
  align-self: center;
  padding-top: 10px;
  padding: 0 24px;
}

.job_card_skill {
  display: inline;
  color: #00a6c2;
  border-radius: 2px;
  background-color: rgba(0, 166, 194, 0.05);
  border: 1px solid rgba(0, 166, 194, 0.15);
  padding: 5px 8px;
  font-size: 12px;
}

.job_card button {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
  z-index: 2;
}
.job_card_apply {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #00487c;
  color: #fff;
  border: none;
}
.job_card_save {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #fff;
  border: 1px solid #00487c;
  color: #00487c;
}

/*Job Details Modal Styles*/
.job_info_modal_input input {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 95%;
  font-family: "Mulish", sans-serif;
}
.job_info_modal_input textarea {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 95%;
  resize: none;
  font-family: "Mulish", sans-serif;
}
.job_info_modal_title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.job_info_input__label {
  font-size: 1rem;
  font-weight: 600;
}
.job_info_field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.job_info_fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registration__form__register__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 180px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.registration__form__register__button:hover {
  background: linear-gradient(180deg, #00487c 0%, #027bce 100%);
}
.registration__form__register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.loginCard__body__button {
  width: 150px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #00487c;
  box-shadow: inset 0px 4px 4px rgba(75, 179, 253, 0.5);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.loginCard__body__button:hover {
  background-color: #023457;
}

.login__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.otherlogin__selector {
  padding: 10px;
  width: 150px;
  height: 44px;
  border: 0.5px solid #a4bbcc;
  outline: none;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00487c;
}

.otherlogin__options {
  color: #00487c;
}

.otherlogin__options:hover {
  color: #ffffff !important;
}

.studentProfile__documents {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.studentProfile__documents__view {
  width: 80px;
  padding: 0.5rem;
  margin-top: 1rem;
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.studentProfile__documents__view:hover {
  background: linear-gradient(0deg, #027bce 0%, #00487c 100%);
}

.studentProfile__document__heading {
  font-weight: 700;
  text-align: center;
}

/*Jobs Page Styles*/
.jobs__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  gap: 3rem;
}
.jobs__heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #00487c;
}
.jobs__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*Job Creation Page Styles*/
.registration__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  gap: 3rem;
}
.registration__heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;

  color: #00487c;
}
.registration__form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 3rem;
}
.registration__form__section {
  display: flex;
  flex-direction: column;
}
.registration__form__section__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: #c9e9ff;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0px 0px;
  color: #00487c;
  padding: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration__form__section__fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid #4bb3fd;
  border-radius: 0px 20px 20px 20px;
}

.registration__form__section__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.registration__form__section__field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #00487c;
}
.registration__form__section__field__input input {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 250px;
  font-family: "Mulish", sans-serif;
}
.registration__form__section__field__input textarea {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 250px;
  resize: none;
  font-family: "Mulish", sans-serif;
}
.registration__form__section__field__input select {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 300px;
  font-family: "Mulish", sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("https://www.vhv.rs/dpng/d/598-5983241_transparent-downward-arrow-png-select-arrow-png-free.png");
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 52%, 0 0;
  background-size: 0.65em auto, 100%;
}

.registration__form__section__field__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.registration__form__section__field__note {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #00487c;
}
.registration__form__register__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 180px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.registration__form__register__button:hover {
  background: linear-gradient(180deg, #00487c 0%, #027bce 100%);
}
.registration__form__register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.registration__form__register {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.jobDescription__container_inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #4bb3fd;
  gap: 2rem;
  border-radius: 20px;
  width: 60vw;
}
.registration__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 80px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.registration__button:hover {
  background: linear-gradient(180deg, #00487c 0%, #027bce 100%);
}

.registration__button__verified {
  background: linear-gradient(180deg, #02ce4d 0%, #007c2d 100%);
  box-shadow: inset 0px 4px 4px #4bfd7a;
  border-radius: 10px;
  width: 80px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #ffffff;
}

.viewStudentProfile__button {
  background: linear-gradient(180deg, #027bce 0%, #00487c 100%);
  box-shadow: inset 0px 4px 4px #4bb3fd;
  border-radius: 10px;
  width: 90px;
  height: 34px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.registration__form__section__fields_academic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0rem;
  padding: 1.5rem;
  border: 1px solid #4bb3fd;
  border-radius: 0px 20px 20px 20px;
}
.registration__form__section__fields_academic_rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.75rem;
}

.registration__form__section__field__left_academics {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.registration__form__section__field__input_academics input {
  border: 0.3px solid #00487c;
  border-radius: 15px;
  padding: 0.75rem;
  outline: none;
  width: 300px;
  font-family: "Mulish", sans-serif;
}

.statistics_section {
  min-height: 100vh;
  margin: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 3rem 3.5rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 900px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 101%;
  height: 101%;
  background-image: linear-gradient(to right bottom, #4081f8, #7dd2f9);
  z-index: -1;
  border-radius: 15px;
  transform: rotate(-5deg);
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.2);
}
.card li {
  margin: 1.2rem;
  list-style-type: none;
}

.card li p {
  display: flex;
}

.card li h3 {
  display: inline-block;
  font-size: 1.5rem;
  color: #333;
  vertical-align: top;
  margin-right: 5px;
  line-height: 1.2;
}
.card li .fa {
  font-size: 0.75rem;
}
.card li span {
  color: #9ea6a8;
  font-weight: bold;
  font-size: 1rem;
}

.clr-up {
  color: green;
}

.clr-down {
  color: red;
}

@media screen and (max-width: 900px) {
  .container {
    height: unset;
  }
  .statistics_section {
    margin: 7rem 0;
  }

  .card li span {
    font-size: 0.8rem;
  }

  .card li h3 {
    font-size: 1.2rem;
  }

  .card {
    width: 80vw;
    padding: 1rem 1.5rem;
    height: fit-content;
  }

  .card::before {
    transform: rotate(0deg);
  }
  .card li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    width: 50%;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 100vw;
  }
}

@media (max-width: 1400px) {
  .jobDescription__container_inner {
    width: 50vw;
  }
}
@media (max-width: 1024px) {
  .jobDescription__container_inner {
    margin: 1.1rem;
  }
  .jobDescription__container_inner {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
  .registration__form {
    width: 100%;
  }
  .registration__form__section__field__input input {
    width: 70vw;
  }
  .registration__form__section__field__input select {
    width: 65vw;
  }
  .registration__form__section__field__input textarea {
    width: 65vw;
  }
  .registration__form__section__field__input_academics input {
    width: 65vw;
  }
  .MuiAutocomplete-root {
    width: 200px;
  }
}